---
import SectionTitle from "../ui/SectionTitle.astro";
import DiscoverCard from "../ui/DiscoverCard.astro";
import Section from "./Section.astro";
import { t } from "i18next";

import c1 from "../../assets/pics/card-pic1.svg";
import c2 from "../../assets/pics/card-pic2.svg";
import c3 from "../../assets/pics/card-pic3.svg";
import c4 from "../../assets/pics/card-pic4.svg";
import c5 from "../../assets/pics/card-pic5.svg";
import c6 from "../../assets/pics/card-pic6.svg";
import c7 from "../../assets/pics/card-pic7.svg";
import c8 from "../../assets/pics/card-pic8.svg";
import c9 from "../../assets/pics/card-pic9.svg";

const cards = [
  {
    index: 1,
    titleTop: t("explore.productivity"),
    img: c1,
    alt: t("explore.productivity"),
    link: "/explore?tags=Productivity",
  },
  {
    index: 2,
    titleTop: t("explore.assistant"),
    img: c2,
    alt: t("explore.assistant"),
    link: "/explore?tags=Assistant",
  },
  {
    index: 3,
    titleTop: t("explore.creative"),
    img: c3,
    alt: t("explore.creative"),
    link: "/explore?tags=Creative",
  },
  {
    index: 1,
    titleTop: t("explore.socialmedia"),
    img: c4,
    alt: t("explore.socialmedia"),
    link: "/explore?tags=Social Media",
  },
  {
    index: 2,
    titleTop: t("explore.financebusiness"),
    img: c5,
    alt: t("explore.financebusiness"),
    link: "/explore?tags=Finance & Business",
  },
  {
    index: 3,
    titleTop: t("explore.lifestylehealth"),
    img: c6,
    alt: t("lifestylehealth"),
    link: "/explore?tags=Lifestyle & Health",
  },
  {
    index: 1,
    titleTop: t("explore.education"),
    img: c7,
    alt: t("explore.education"),
    link: "/explore?tags=Education",
  },
  {
    index: 2,
    titleTop: t("explore.entertainment"),
    img: c8,
    alt: t("explore.entertainment"),
    link: "/explore?tags=Entertainment",
  },
  {
    index: 3,
    titleTop: t("explore.others"),
    img: c9,
    alt: t("explore.others"),
    link: "/explore?tags=Others",
  },
];

const description = t("explore.description")
---

<Section>
  <div class="mt-64 mb-5">
    <SectionTitle sectionTitle={t("navbar.explore")} description={description} />
    <div class="grid justify-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 pb-10">
      {
        cards.map((card) => (
          <DiscoverCard
            index={card.index}
            titleTop={card.titleTop}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
