---
import SectionTitle from "../ui/SectionTitle.astro";
import DiscoverCard from "../ui/DiscoverCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.svg";
import c2 from "../../assets/pics/card-pic2.svg";
import c3 from "../../assets/pics/card-pic3.svg";
import c4 from "../../assets/pics/card-pic4.svg";
import c5 from "../../assets/pics/card-pic5.svg";
import c6 from "../../assets/pics/card-pic6.svg";

const cards = [
  {
    index: 1,
    titleTop: "Productivity",
    img: c1,
    alt: "Productivity",
    link: "/discover?tags=Productivity",
  },
  {
    index: 2,
    titleTop: "Assisent",
    img: c2,
    alt: "Assisent",
    link: "/discover?tags=Assisent",
  },
  {
    index: 3,
    titleTop: "Creative",
    img: c3,
    alt: "Creative",
    link: "/discover?tags=Creative",
  },
  {
    index: 1,
    titleTop: "Social",
    img: c3,
    alt: "Social",
    link: "/discover?tags=Social",
  },
  {
    index: 2,
    titleTop: "Business",
    img: c4,
    alt: "Business",
    link: "/discover?tags=Business",
  },
  {
    index: 3,
    titleTop: "Lifestyle",
    img: c5,
    alt: "Lifestyle",
    link: "/discover?tags=Lifestyle",
  },
  {
    index: 1,
    titleTop: "NLP",
    img: c6,
    alt: "NLP",
    link: "/discover?tags=NLP",
  },
  {
    index: 2,
    titleTop: "Education",
    img: c6,
    alt: "Education",
    link: "/discover?tags=Education",
  },
  {
    index: 3,
    titleTop: "Health & Medical",
    img: c6,
    alt: "Health & Medical",
    link: "/discover?tags=Health & Medical",
  },
  {
    index: 1,
    titleTop: "Finance",
    img: c6,
    alt: "Finance",
    link: "/discover?tags=Finance",
  },
  {
    index: 2,
    titleTop: "Entertainment",
    img: c6,
    alt: "Entertainment",
    link: "/discover?tags=Entertainment",
  },
  {
    index: 3,
    titleTop: "Others",
    img: c6,
    alt: "Others",
    link: "/discover?tags=Others",
  },
];

const description =
  "You can discover workflows by categories. Then you can Live Preview them in Diflowy.";
---

<Section>
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Discover" description={description} />
    <div class="grid justify-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
      {
        cards.map((card) => (
          <DiscoverCard
            index={card.index}
            titleTop={card.titleTop}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
