---
import SectionTitle from "../ui/SectionTitle.astro";
import DiscoverCard from "../ui/DiscoverCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.svg";
import c2 from "../../assets/pics/card-pic2.svg";
import c3 from "../../assets/pics/card-pic3.svg";
import c4 from "../../assets/pics/card-pic4.svg";
import c5 from "../../assets/pics/card-pic5.svg";
import c6 from "../../assets/pics/card-pic6.svg";

const cards = [
  {
    index: 1,
    titleTop: "Productivity",
    img: c1,
    alt: "Productivity",
    link: "/discover?tag=Productivity",
  },
  {
    index: 2,
    titleTop: "Assisent",
    img: c2,
    alt: "Assisent",
    link: "/discover?tag=Assisent",
  },
  {
    index: 3,
    titleTop: "Creative",
    img: c3,
    alt: "Creative",
    link: "/discover?tag=Creative",
  },
  {
    index: 1,
    titleTop: "Social",
    img: c3,
    alt: "Social",
    link: "/discover?tag=Social",
  },
  {
    index: 2,
    titleTop: "Business",
    img: c4,
    alt: "Business",
    link: "/discover?tag=Business",
  },
  {
    index: 3,
    titleTop: "Lifestyle",
    img: c5,
    alt: "Lifestyle",
    link: "/discover?tag=Lifestyle",
  },
  {
    index: 1,
    titleTop: "NLP",
    img: c6,
    alt: "NLP",
    link: "/discover?tag=NLP",
  },
  {
    index: 2,
    titleTop: "Education",
    img: c6,
    alt: "Education",
    link: "/discover?tag=Education",
  },
  {
    index: 3,
    titleTop: "Health & Medical",
    img: c6,
    alt: "Health & Medical",
    link: "/discover?tag=Health & Medical",
  },
  {
    index: 1,
    titleTop: "Finance",
    img: c6,
    alt: "Finance",
    link: "/discover?tag=Finance",
  },
  {
    index: 2,
    titleTop: "Entertainment",
    img: c6,
    alt: "Entertainment",
    link: "/discover?tag=Entertainment",
  },
  {
    index: 3,
    titleTop: "Others",
    img: c6,
    alt: "Others",
    link: "/discover?tag=Others",
  },
];

const description =
  "At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include";
---

<Section>
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Discover" description={description} />
    <div class="grid justify-center sm:grid-cols-2 md:grid-cols-3 gap-5">
      {
        cards.map((card) => (
          <DiscoverCard
            index={card.index}
            titleTop={card.titleTop}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
