---
import { Image } from "astro:assets";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
import Card from "../ui/Card.astro";
import { t } from "i18next";
import propImg from "../../assets/pics/more.svg";

const difyBasic = [
  { name: t("more.whatdify"), link: "https://docs.dify.ai/" },
  {
    name: t("more.whatllmops"),
    link: "https://docs.dify.ai/learn-more/extended-reading/what-is-llmops",
  },
  { name: t("more.difycloud"), link: "https://cloud.dify.ai/" },
  {
    name: t("more.difydocker"),
    link: "https://docs.dify.ai/getting-started/install-self-hosted/docker-compose",
  },
];

const difyAdvanced = [
  {
    name: t("more.whatworkflow"),
    link: "https://docs.dify.ai/guides/workflow",
  },
  {
    name: t("more.whatnodes"),
    link: "https://docs.dify.ai/guides/workflow/node",
  },
  {
    name: t("more.howorchestrate"),
    link: "https://docs.dify.ai/guides/workflow/orchestrate-node",
  },
  { name: t("more.rag"), link: "https://docs.dify.ai/guides/knowledge-base" },
];

const references = [
  {
    name: "Dify Youtube Channel",
    link: "https://www.youtube.com/channel/UC2JZCsZSOudXA08cMMRCL9g",
  },
  { name: "Dify GitHub", link: "https://github.com/langgenius/dify" },
  { name: "Dify 𝕏(Twitter)", link: "https://x.com/dify_ai" },
  { name: "Dify101", link: "https://dify101.com/" },
  {
    name: "Awesome-Dify-Workflow",
    link: "https://github.com/svcvit/Awesome-Dify-Workflow",
  },
  { name: "DifyShare", link: "https://difyshare.com/" },
];
---

<Section id="more">
  <div class="mt-40 relative">
    <SectionTitle
      sectionTitle={t("more.more")}
      description={t("more.description")}
    />
    <Card>
      <div
        class="group flex bg-[#F3F3F3] dark:bg-[--darkbgoffset] rounded-3xl p-8 relative"
      >
        <div class="flex flex-col w-full">
          <div class="flex flex-col sm:flex-row gap-8 mt-12 mb-10">
            <div
              class="flex text-center sm:text-start flex-col w-full lg:w-[25%]"
            >
              <h4 class="mb-4 text-lg font-semibold">{t("more.basic")}</h4>
              <div class="flex flex-col justify-between gap-2">
                {
                  difyBasic.map((link) => {
                    return (
                      <div class="text-xs">
                        <a
                          href={link.link}
                          aria-label={link.name}
                          target="_blank"
                          class="hover:link"
                        >
                          {link.name}
                        </a>
                      </div>
                    );
                  })
                }
              </div>
            </div>
            <div
              class="flex text-center sm:text-start flex-col w-full lg:w-[25%]"
            >
              <h4 class="mb-4 text-lg font-semibold">{t("more.advanced")}</h4>
              <div class="flex flex-col justify-between gap-2">
                {
                  difyAdvanced.map((link) => {
                    return (
                      <div class="text-xs">
                        <a
                          href={link.link}
                          aria-label={link.name}
                          target="_blank"
                          class="hover:link"
                        >
                          {link.name}
                        </a>
                      </div>
                    );
                  })
                }
              </div>
            </div>
            <div
              class="flex text-center sm:text-start flex-col w-full lg:w-[25%]"
            >
              <h4 class="mb-4 text-lg font-semibold">{t("more.link")}</h4>
              <div class="flex flex-col justify-between gap-2">
                {
                  references.map((link) => {
                    return (
                      <div class="text-xs">
                        <a
                          href={link.link}
                          aria-label={link.name}
                          target="_blank"
                          class="hover:link"
                        >
                          {link.name}
                        </a>
                      </div>
                    );
                  })
                }
              </div>
            </div>
            <div class="hidden lg:block text-center w-full lg:w-[25%]">
              <picture
                class="absolute right-0 lg:right-0 top-6 h-[300px] items-center justify-center"
              >
                <Image
                  src={propImg}
                  alt="This is an illustration"
                  class="hidden md:flex lg:h-full lg:w-auto group-hover:scale-110 transition-all duration-300"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </Card>
  </div>
</Section>
