---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.svg";
import c2 from "../../assets/pics/card-pic2.svg";
import c3 from "../../assets/pics/card-pic3.svg";
import c4 from "../../assets/pics/card-pic4.svg";
import c5 from "../../assets/pics/card-pic5.svg";
import c6 from "../../assets/pics/card-pic6.svg";

const cards = [
  {
    index: 1,
    titleTop: "Productivity",
    img: c1,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Assisent Tools",
    img: c2,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 3,
    titleTop: "Creative",
    img: c3,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 1,
    titleTop: "Social Media",
    img: c3,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Marketing Operation",
    img: c4,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 3,
    titleTop: "Life/Enterntment",
    img: c5,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 1,
    titleTop: "Writing",
    img: c6,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Education",
    img: c6,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 3,
    titleTop: "Health & Medical",
    img: c6,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 1,
    titleTop: "Finance",
    img: c6,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Others",
    img: c6,
    alt: "SEO",
    link: "https://google.com",
  },
];

const description =
  "At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include";
---

<Section>
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Discover" description={description} />
    <div class="grid justify-center sm:grid-cols-2 md:grid-cols-3 gap-5 sm:gap-8">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
