---
import { Image } from "astro:assets";
import bars from "../../assets/bars.svg";
import brand from "../../assets/brand.svg";
// import { AuthProvider } from "../contexts/AuthContext";
// import { getUserFromToken } from '../../utils/auth';
// const user = getUserFromToken();

const navLinks = [
  {
    name: "Discover",
    href: "/discover",
  },
  {
    name: "Share",
    href: "/upload",
  },
  {
    name: "Blog",
    href: "#testimonials",
  },
  {
    name: "Contact",
    href: "#contact",
  },
];
---

<div
  class="fixed w-full top-0 z-10 py-5 px-5 h-auto flex justify-center header"
>
  <nav
    aria-label="Main Navigation"
    role="navigation"
    class="w-full flex h-full items-center justify-between"
  >
    <!-- Brand -->
    <div class="xl:flex-none">
      <a href="/">
        <Image
          src={brand}
          alt="Brand Logo"
          class="w-32 sm:w-[8em]"
          loading="eager"
        />
      </a>
    </div>

    <!-- Hamburger menu -->
    <button
      aria-label="menu"
      role="button"
      aria-controls="navmenu"
      aria-expanded="false"
      id="menuButton"
      class="w-12 h-12 xl:hidden cursor-pointer contents"
    >
      <Image src={bars} alt="hamburgerIcon" class="hamburgerIcon" />
    </button>
  </nav>
  <!-- Nav Menu -->
  <div
    id="navmenu"
    class="w-full px-5 xl:px-0 absolute top-full z-10 xl:static xl:flex xl:flex-grow xl:items-center xl:justify-center overflow-hidden duration-500 h-0 xl:h-auto dropdown"
  >
    <!-- Nav Links -->
    <ul
      class="flex flex-col xl:flex-row xl:flex-grow xl:justify-center xl:gap-10"
    >
      {
        navLinks.map((link) => {
          return (
            <li class="p-2 px-0">
              <a id={link.name} href={link.href} class="block">
                {link.name}
              </a>
            </li>
          );
        })
      }
    </ul>

    <!-- Login -->
    <div class="relative inline-block text-left">
      <div class="flex xl:flex-row xl:items-center xl:gap-4 flex-col xl:ml-4">
        <a id="login-link" href="/login"
          ><button class="btn-secondary w-full xl:w-auto py-2" id="login"
            >Login</button
          >
        </a>
      </div>
      <div
        id="dropdownMenu"
        class="hidden absolute z-10 mt-2 w-48 bg-white rounded-md shadow-lg"
      >
        <a
          href="/user-center"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          >用户中心</a
        >
        <a
          href="#"
          id="logoutButton"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          >注销</a
        >
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", (_) => {
    const menuButton = document.getElementById("menuButton");
    const navMenu = document.getElementById("navmenu");

    let isMenuOpen = false;

    if (menuButton && navMenu) {
      menuButton.addEventListener("click", () => {
        /* Handle the height transition */
        isMenuOpen = !isMenuOpen;

        menuButton.setAttribute("aria-expanded", `${isMenuOpen}`);

        if (isMenuOpen) {
          navMenu.style.height = `${navMenu.scrollHeight + 20}px`;
        } else {
          navMenu.style.height = "0px";
        }
      });

      navMenu.addEventListener("click", () => {
        /* Close menu after using it */
        if (isMenuOpen) {
          isMenuOpen = false;
          navMenu.style.height = "0px";
          navMenu.classList.remove("h-auto");
        }
      });

      window.addEventListener("resize", () => {
        /* Resize cleanup screen state*/
        if (window.innerWidth >= 1280) {
          /* Add height if menu was closed and then resize happened */
          navMenu.style.height = "auto";
          navMenu.classList.remove("h-0");
        } else {
          /* Prevent opened menu when going from bit to small */
          navMenu.style.height = "0px";
        }
      });
    }
  });
</script>
<script>
  interface User {
    username: string;
  }

  interface UserResponse {
    user: User | null;
  }

  async function handleLogout(event: MouseEvent) {
    event.preventDefault();
    try {
      const response = await fetch("/api/logout", {
        method: "POST",
      });
      if (response.ok) {
        console.log("Logout successful");
        sessionStorage.removeItem("username");
        window.location.href = "/login";
      } else {
        console.error("Failed to log out, server returned an error.");
      }
    } catch (error) {
      console.error("Failed to log out, network error:", error);
    }
  }

  async function loadUserFromStorage() {
    const username = sessionStorage.getItem("username");
    const loginButton = document.getElementById("login") as HTMLButtonElement;
    const loginLink = document.getElementById(
      "login-link",
    ) as HTMLAnchorElement;
    const protectedContent = document.getElementById(
      "protected-content",
    ) as HTMLDivElement | null;
    if (username) {
      console.log("Loaded username from sessionStorage:", username);
      loginButton.textContent = username;
      loginLink.setAttribute("href", "#");
      loginLink.addEventListener("click", handleLogout);
      if (protectedContent) {
        protectedContent.style.display = "block";
      }
    } else {
      console.log("No username found in sessionStorage, Call User API...");
      const response = await fetch("/api/user");
      const data: UserResponse = await response.json();
      console.log("fetch user data>>>", data);
      if (data.user) {
        console.log("User found in server response");
        sessionStorage.setItem("username", data.user.username);
        loginButton.textContent = `${data.user.username}`;
        loginLink.setAttribute("href", "#");
        loginLink.addEventListener("click", handleLogout);
        if (protectedContent) {
          protectedContent.style.display = "block";
        }
      } else {
        console.log("No user found in server response");
        sessionStorage.removeItem("username");
        loginButton.textContent = "Login";
        loginLink.setAttribute("href", "/login");
        if (protectedContent) {
          protectedContent.style.display = "none";
        }
      }
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    loadUserFromStorage();
  });
</script>
