---
import { t } from "i18next";

const slides = [
  {
    index: 1,
    name: t("reviews.name1"),
    description: t("reviews.description1"),
    content: t("reviews.content1"),
    ref: t("reviews.ref1"),
  },
  {
    index: 2,
    name: t("reviews.name2"),
    description: t("reviews.description2"),
    content: t("reviews.content2"),
    ref: t("reviews.ref2"),
  },
  {
    index: 3,
    name: t("reviews.name3"),
    description: t("reviews.description3"),
    content: t("reviews.content3"),
    ref: t("reviews.ref3"),
  },
  {
    index: 4,
    name: t("reviews.name4"),
    description: t("reviews.description4"),
    content: t("reviews.content4"),
    ref: t("reviews.ref4"),
  },
];
---

<div
  id="ProjectSlider"
  class="swiper mt-10"
  style={{
    "--swiper-pagination-color": "var(--dark)",
    "--swiper-pagination-bullet-inactive-color": "#fff",
    "--swiper-pagination-bullet-inactive-opacity": "1",
    "--swiper-pagination-bullet-size": "12px",
    "--swiper-pagination-bullet-horizontal-gap": "10px",
  }}
>
  <div class="swiper-wrapper mt-10 mb-20" data-cursor="swipe">
    {
      slides.map((slide) => (
        <div
          class="swiper-slide text-white flex flex-col"
          role="group"
          aria-label={`${slide.index} / ${slides.length}`}
        >
          <div class="bubble h-80 grid grid-cols-1 content-between items-center mx-6 py-6 sm:py-10 px-8 sm:px-12 hover:shadow-lg">
            <p class="text-xs sm:text-sm font-normal font-serif !line-clamp-7 !leading-6 text-ellipsis mb-6 sm:mb-10 italic whitespace-pre-wrap">
              {slide.content}
            </p>
            <div class="w-full">
              <a href={slide.ref} class="hover:link font-medium">
                {slide.name}
              </a>
              <div class="text-xs">
                {slide.description}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div class="flex justify-around lg:justify-center mb-10 lg:gap-40">
    <div class="swiper-button-prev w-4 h-4 sm:w-6 sm:h-6 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
        ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="currentColor"
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
        ></path></svg
      >
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next w-4 h-4 sm:w-6 sm:h-6 rotate-180 text-dark">
      <svg xmlns="http://www.w3.org/2000/svg " viewBox="0 0 448 512"
        ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="currentColor"
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
        ></path></svg
      >
    </div>
  </div>
</div>
<script>
  import "swiper/css";
  import "swiper/css/pagination";
  import Swiper from "swiper";
  import { Pagination, Navigation } from "swiper/modules";
  import { register } from "swiper/element/bundle";
  register();

  Swiper.use([Pagination, Navigation]);

  new Swiper("#ProjectSlider", {
    modules: [Pagination, Navigation],
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    loop: true,
    autoplay: false,
    grabCursor: true,
    mousewheel: false,
    slidesPerView: 2,
    centeredSlides: true,
    spaceBetween: 75,
    breakpoints: {
      1024: {
        slidesPerView: 2,
      },
      320: {
        slidesPerView: 1,
      },
    },
  });
</script>
<style>
  .bubble {
    position: relative;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 20px;
    /* height: 26em; */
    /* max-height: max-content; */
  }
  .bubble:after {
    content: "";
    position: absolute;
    bottom: -30px; /* Adjust this value to move the arrow up or down */
    left: 50px; /* Adjust this value to move the arrow left or right */
    border-width: 22px; /* Adjust this value to change the size of the arrow */
    border-style: solid;
    border-color: var(--dark) transparent transparent var(--dark);
  }
  .swiper-wrapper {
    position: relative;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-out;
  }
  .swiper-pagination {
    display: flex;
    align-items: center;
    width: auto !important;
    position: static !important;
  }
</style>
